/* .bg-image{
    background-image: url("src\assets\wp2.jpg");
    height: 100vh;
    max-height: 300px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */