<!-- Proyectos -->

<section id="Proyectos" class="container text-light">
    <div class="row">
    <div class="text-container">
      <div class="item-title d-flex justify-content-between"> 
          <h2> Proyectos </h2>
          <div class="buttons">
              <button type="button" class="btn btn-dark"><i class="bi bi-pencil-square" style="font-size: 1rem; color: #0D6EFD;"></i></button>
          </div>
      </div>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quia quae aliquam! Iusto quae non deserunt incidunt reiciendis sint quasi.</p>
    </div>
    </div>    
    <div class="row justify-content-center">
    <div id="project-cards" class="col project-cards">
      <div class="card bg-dark border" style="width: 20rem;">
          <img src="assets\proyecto1.png" class="card-img-top" alt="...">
          <hr>
          <div class="card-body">
            <div class="item-title d-flex justify-content-between">
              <h5 class="card-title">Portfolio web</h5>
              <div class="buttons">
                  <button type="button" class="btn btn-dark"><i class="bi bi-pencil-square" style="font-size: 1rem; color: #0D6EFD;"></i></button>
                  <button type="button" class="btn btn-dark"><i class="bi bi-trash" style="font-size: 1rem; color: #0D6EFD;"></i></button>
                </div>
            </div>
            <p class="card-text">Creación de mi propio portfolio web practicando y aplicando conocimientos, 
                haciendo uso de HTML,CSS, Bootstrap,JavasScrip</p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
      </div>
    
      <div class="card bg-dark border" style="width: 20rem;">
          <img src="assets\proyecto2.png" class="card-img-top" alt="...">
          <hr>
          <div class="card-body">
            <div class="item-title d-flex justify-content-between">
              <h5 class="card-title">Portfolio web</h5>
              <div class="buttons">
                  <button type="button" class="btn btn-dark"><i class="bi bi-pencil-square" style="font-size: 1rem; color: #0D6EFD;"></i></button>
                  <button type="button" class="btn btn-dark"><i class="bi bi-trash" style="font-size: 1rem; color: #0D6EFD;"></i></button>
                </div>
            </div>
            <p class="card-text">Espacio para otro proyecto</p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
      </div>
    </div>
    </div>
    </section>
    <hr class="text-light">
