<div class="row justify-content-center">
    <div class="col-sm-5">

        <div class="card-body text-light">
            <span class="section-title mb-3 d-flex justify-content-between">
                <h3> Nuevo curso </h3>
            </span>
            <form action="">
                <select 
                class="form-select" 
                aria-label="Default selct example"
                [(ngModel)]="educacion.tipo"
                name="selector" 
                type="text" 
                >
                    <option selected></option>
                    <option value="titulo">Titulo</option>
                    <option value="cursos">Cursos y certificaciones</option>
                </select>
                <div class="form-group">
                    <label for="" > Titulo</label>
                    <input [(ngModel)]="educacion.titulo" name="titulo"  type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="" >Ente</label>
                    <input [(ngModel)]="educacion.ente"  name="ente"  type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="" > Fecha Inicio</label>
                    <input [(ngModel)]="educacion.fechaIni"  name="fechaIni" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="" > Fecha Fin</label>
                    <input [(ngModel)]="educacion.fechaFin" name="fechaFin" type="text" class="form-control">
                </div>
                <br>
                <div class="buttons">
                    <button (click)="GuardarEducacion(educacion)" type="button" class="btn btn-primary"> Añadir </button>
                    <button [routerLink]="['']" type="button" class="btn btn-primary"> Volver </button>
                </div>
            </form>
        </div>
    </div>
</div>
