<!-- Experiencia -->
<section id="Experiencia" class="container text-light">

    <div class="row">
      <div class="col">
          <div class="section-title mb-4 d-flex justify-content-between">
              <h2> Experiencia </h2>
              <div class="buttons">
                  <button (click)="Crear()" type="button" class="btn btn-dark"><i class="bi bi-plus-circle" style="font-size: 1rem; color: #0D6EFD;"></i></button>
              </div>
          </div>
      </div>
    
      <div class="item">
          <div class="item-title d-flex justify-content-between">
              <p> Actualmente estoy en busqueda de mi primer trabajo IT por lo cual estoy buscando un puesto Trainee!.
                  Esta pequeña maqueta estática es muestra de mis primeras andanzas por este hermoso mundo del diseño web! &#128512; así que aquí verán espacios en blanco, botones todavía sin funcionalidad
                  y formularios que envían mensajes al más allá! &#128540;. 
                  Ahora me encuentro trabajando en darle dinamismo, trasladando toda esta plantilla al framework Angular, donde se llevara esta página a un modelo SPA (Single-page application).
    
              </p>
              <div class="buttons">
                  <button type="button" class="btn btn-dark"><i class="bi bi-pencil-square" style="font-size: 1rem; color: #0D6EFD;"></i></button>
                  <button type="button" class="btn btn-dark"><i class="bi bi-trash" style="font-size: 1rem; color: #0D6EFD;"></i></button>
              </div>
          </div>
      </div> <hr>
      <div *ngFor="let experiencia of experiencia">
        <div class="item">
            <div class="item-title d-flex justify-content-between">
                <h6><b> {{experiencia.titulo}} </b> </h6>
                <div class="buttons" *ngIf="isAdmin">
                    <button (click)="Editar(experiencia)" type="button" class="btn btn-dark"><i class="bi bi-pencil-square"
                            style="font-size: 1rem; color: #0D6EFD;"></i></button>
                    <button (click)="EliminarExperiencia(experiencia)" type="button" class="btn btn-dark"><i class="bi bi-trash"
                            style="font-size: 1rem; color: #0D6EFD;"></i></button>
                </div>
            </div>
            <h6> {{experiencia.ente}} </h6>
            <p> <em> {{experiencia.fechaIni}} {{experiencia.fechaFin}}</em></p>
        </div>
       </div>    
    </div>
    </section>
