<!-- Experiencia -->
<section id="Experiencia" class="container text-light">

    <div class="row">
      <div class="col">
          <div class="section-title mb-4 d-flex justify-content-between">
              <h2> Experiencia </h2>
              <div class="buttons">
                  <button (click)="crearExp()" type="button" class="btn btn-dark"><i class="bi bi-plus-circle" style="font-size: 1rem; color: #0D6EFD;"></i></button>
              </div>
          </div>
      </div>
    
      <div *ngFor="let header of header" class="item">
          <div class="item-title d-flex justify-content-between">
              <p> {{header.contenido}}
              </p>
              <div class="buttons">
                  <button type="button" class="btn btn-dark"><i class="bi bi-pencil-square" style="font-size: 1rem; color: #0D6EFD;"></i></button>
                  <button type="button" class="btn btn-dark"><i class="bi bi-trash" style="font-size: 1rem; color: #0D6EFD;"></i></button>
              </div>
          </div>
      </div> <hr>
      <div *ngFor="let experiencia of experiencia">
        <div *ngIf=" experiencia.tipo === 'experiencia' " class="item">
            <div class="item-title d-flex justify-content-between">
                <h6><b> {{experiencia.titulo}} </b> </h6>
                <div class="buttons" *ngIf="isAdmin">
                    <button (click)="editarExp(experiencia)" type="button" class="btn btn-dark"><i class="bi bi-pencil-square"
                            style="font-size: 1rem; color: #0D6EFD;"></i></button>
                    <button (click)="EliminarExp(experiencia)" type="button" class="btn btn-dark"><i class="bi bi-trash"
                            style="font-size: 1rem; color: #0D6EFD;"></i></button>
                </div>
            </div>
            <h6> {{experiencia.ente}} </h6>
            <p> <em> {{experiencia.fechaIni}} {{experiencia.fechaFin}}</em></p>
        </div>
       </div>    
    </div>
    </section>
