<div class="row justify-content-center">
    <div class="col-sm-5">

        <div class="card-body text-light">
            <span class="section-title mb-3 d-flex justify-content-between">
                <h3> Nueva Experiencia </h3>
            </span>
            <form action="">
                <select 
                class="form-select" 
                aria-label="Default selct example"
                [(ngModel)]="experiencia.tipo"
                name="selector" 
                type="text" 
                >
                    <option selected></option>
                    <option value="experiencia">Experiencia </option>
                </select>
                <div class="form-group">
                    <label for="" > Titulo</label>
                    <input [(ngModel)]="experiencia.titulo" name="titulo" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="" >Ente</label>
                    <input [(ngModel)]="experiencia.ente" name="ente" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="" > Fecha Inicio</label>
                    <input [(ngModel)]="experiencia.fechaIni" name="fechaIni" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="" > Fecha Fin</label>
                    <input [(ngModel)]="experiencia.fechaFin" name="fechaFin" type="text" class="form-control">
                </div>
                <br>
                <div class="buttons">
                    <button (click)="GuardarExperiencia(experiencia)" type="button" class="btn btn-primary"> Añadir </button>
                    <button [routerLink]="['']" type="button" class="btn btn-primary"> Volver </button>
                </div>
            </form>
        </div>
    </div>
</div>
