<!-- Presentación-->

<div class="container hd text-light">
    <div class="row">
    <div class="col px-0"> 
          <img src="assets\wp2.jpg" class ="img-fluid" max-width="60%"  alt="">           
    </div>   
    </div>
    
    <div class="row ">
    <div class="col-4">
        <div class="profile-container justify-content-center">
          <img src="assets\fotoperfil2.png" class ="profile-img"  alt="">
        </div>
        <div class="profile-text">
          <h4> Juan Cruz Alcoba</h4>
          <h6> Diseño web Full Stack Jr.</h6>
        </div>
    </div>  
    <div class="col-8"> 
        <div class="text-container">
            <div class="item-title d-flex justify-content-between"> 
                <h2> Sobre mí </h2>
                <div class="buttons">
                  <button type="button" class="btn btn-dark"><i class="bi bi-pencil-square" style="font-size: 1rem; color: #0D6EFD;"></i></button>
                </div>
            </div>
            <div class="text">  Emprendiendo camino en el desarrollo de web/apps actualmente realizando el curso de programador web full-stack de Argentina Programa.  
              Estoy buscando mi primer empleo como trainee para poder aplicar todo lo que voy aprendiendo en un entorno de trabajo real. Soy una persona muy curiosa y dedicada, dispuesto a seguirme formando constantemente y dar lo mejor de mí!  
            </div>
        </div>
    </div>    
    </div>
    </div>
    <hr class="text-light">
