
<div class="row justify-content-center">
    <div class="col-sm-5">
        <div class="card-body text-light">
        <span class="section-title mb-3 d-flex justify-content-between">
            <h3> Editar curso </h3>
        </span>
            
        <form action="" class="">
            <div class="form-group">
                <label for="" > Titulo</label>
                <input [(ngModel)]="educacion.titulo" name="titulo" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="" >Ente</label>
                <input [(ngModel)]="educacion.ente" name="ente" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="" > Fecha Inicio</label>
                <input [(ngModel)]="educacion.fechaIni" name="fechaIni" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="" > Fecha Fin</label>
                <input [(ngModel)]="educacion.fechaFin" name="fechaFin" type="text" class="form-control">
            </div>
            <br>
            <button (click)="Actualizar(educacion)" type="button" class="btn btn-primary"> Actualizar </button>
            <button [routerLink]="['']" type="button" class="btn btn-primary"> Volver </button>
        </form>
        </div>
    </div>
</div>