<!-- NAV -->
<header class="container ">
    <nav class="navbar fixed-top py-0 navbar-expand-sm navbar-dark bg-dark bg-gradient border-3 border-bottom border-primary" >
        <a href="#" class="navbar-brand ">Juan Cruz Alcoba </a>
        <div class="toggle-button">
            <button type="button " 
                class="navbar-toggler"  
                data-bs-toggle="collapse"
                data-bs-target="#MenuNavegacion"
                >
            <span class="navbar-toggler-icon "></span>
            </button>
        </div>
  
        <div id="MenuNavegacion" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item "><a class="nav-link" href="#"><i class="bi bi-house-fill"></i> Inicio</a></li>
                <li class="nav-item"><a class="nav-link " href="#Educación"><i class="bi bi-book"></i> Educacion</a></li>
                <li class="nav-item"><a class="nav-link" href="#Habilidades"><i class="bi bi-diagram-3-fill"></i> Habilidades</a></li>
                <li class="nav-item"><a class="nav-link" href="#Contactame"><i class="bi bi-envelope-fill"></i> Contactame</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-nowrap" href="#"><i class="bi bi-box-arrow-in-right"></i> Login</a></li>
            </ul>
        </div>
    </nav>
  </header>
